.product {
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    width: 108px;
    height: 150px;
    position: relative;
  }
  
  .product img {
    width: 103px;
    height: 110px;
  }

  .tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px; 
  color: #333;
  font-size: 14px;
  }
  .product .tooltip {
    transition: opacity 0.3s ease-in-out;
  }
  
  .product:hover .tooltip {
    display: block;
    opacity: 1;
  }