/* .app {
  display: flex;
  justify-content: space-between; 
} */
.buttons {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4CAF50; /* Change to your desired hover color */
  color: white;
}

button.cancel {
  background-color: #dc3545; /* Change to your desired color */
  color: white;
}